<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Banch：批量处理个数-->
    <add key="Banch" value="10"/>
    <!--Interval(秒)：程序执行间隔时间 -->
    <add key="Interval" value="10"/>
  </appSettings>
  <connectionStrings>
    <add name="AgencyComDbConn" connectionString="Server=(local);DataBase=AgencyComDb;uid=sa;pwd=Eyes1234"/>
    <add name="CollectDbConn" connectionString="Server=(local);DataBase=CollectDb;uid=sa;pwd=Eyes1234"/>
    <add name="FrameworkDbConn" connectionString="Server=(local);DataBase=FrameworkDb;uid=sa;pwd=Eyes1234"/>
    <add name="MemberDbConn" connectionString="Server=(local);DataBase=MemberDb;uid=sa;pwd=Eyes1234"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
